<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.controldegastos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VistasGasto"
            android:label="@string/title_activity_vistas_gasto"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".AnadirDebito" />
        <activity android:name=".AnadirCredito" />
        <activity android:name=".AgregarFondo" />
        <activity android:name=".AnadirEfectivo" />
        <activity android:name=".VerFondo" />
        <activity android:name=".AnadirGasto" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>